@font-face {
  font-family: SFMono;
  src: url('./assets/fonts/SFMonoRegular.otf');
  font-weight: 400;
}

@font-face {
  font-family: SFMono;
  src: url('./assets/fonts/SFMonoSemibold.otf');
  font-weight: 600;
}

@font-face {
  font-family: SFMono;
  src: url('./assets/fonts/SFMonoBold.otf');
  font-weight: 700;
}

@font-face {
  font-family: SFMono;
  src: url('./assets/fonts/SFMonoHeavy.otf');
  font-weight: 900;
}

* {
  font-family: SFMono !important; 
  color: #000;
}